<h1>Insurances</h1>
<p>
    <ul>
        <% @insurances.each do |insurance| %>
            <li>
                <%= link_to insurance.name, insurance_path(insurance) %>
            </li>
        <% end %>
    </ul>
</p>
